$container-sm : 480px;
$container-md: 768px;
$container-lg: 900px;
$container-xl: 1200px;
$container-100: 100%;

///////////////////////
$w-5: 5%;
$w-10: 10%;
$w-15: 15%;
$w-20: 20%;
$w-25: 25%;
$w-30: 30%;
$w-80: 80%;
$w-100: 100%;
///////////////////////
$h-100: 100%;
$h-80: 80%;
$h-35: 35%;
$h-30: 30%;
$h-25: 25%;
$h-20: 20%;
$h-15: 15%;